# IDE
.idea/
.vscode/

# Environments
unet_env/
.env
.venv
.python-version
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

train/dataset_coco
train/baseline
train/weights/topk
